@import 'stater';

  .appointment-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    h1{
        width: 90%;
        font-size: 30px;
      }
  }
  .abmb{
    width: 90%;
    padding: 20px;
    background-color: white;
    margin-top: 5vh;
    margin-bottom: 10vh;
    h3{
        width: 100%;
        padding: 20px;
        background-color: #140b2287;
        color: #fff;
        font-size: 15px;
      }
  }
  .abm{
    width: 100%;
  }
  .dataTables_wrapper{
    margin-top: 5vh!important;
  }
  .nav-pic{
    height: 25px;
    width: 25px;
}
.dataTables_wrapper{
  font-size: 14px;
  a{
    font-size: 14px;
  }
}
.cform, 
#pass-form{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #f5f5f5; */
    border-radius: 50px 0px 0px 50px;
    .inputbox
    {
        display: flex;
        flex-direction: column;
        width: 90%;
        label{
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            span{
                color: #cf0c26;
                visibility: hidden;
                transition: .3s;
            }
        }
        textarea{
            padding:10px 10px;
            outline: none;
            border-radius: 7px;
            border: 1px solid #0000006b;
            margin-bottom: 20px;
            transition: .3s;
            &::placeholder{
                color: #6c757d;
            }
            &:focus
            {
                border: 1px solid #6316df;
            }
        }
        select{
            height: 40px;
            padding:0px 10px;
            outline: none;
            border-radius: 7px;
            border: 1px solid #0000006b;
            margin-bottom: 20px;
            transition: .3s;
        }
        input{
            height: 40px;
            padding:0px 10px;
            outline: none;
            border-radius: 7px;
            border: 1px solid #0000006b;
            margin-bottom: 20px;
            transition: .3s;
            &::placeholder{
                color: #6c757d;
            }
            &:focus
            {
                border: 1px solid #6316df;
            }
        }
        input[type=file]
        {
            height: 32px;
            &::placeholder{
                color: #6c757d;
            }
        }
        input[type=submit]
        {
            border: none;
            background-color: #6316df;
            color: #fff;
            transition: .3s;
            width: 90%;
            margin-top: 20px;
            &:hover
            {
                background-color: #7e49d3;
            }
        }
        input[type=number]::-webkit-outer-spin-button
        {
            &::-webkit-outer-spin-button
            {
                -webkit-appearance: none;
            }
            &::-webkit-inner-spin-button
            {
                -webkit-appearance: none;
            }
        }
    }
    a{
        text-decoration: none;
    }
}
.cform .inputbox, #pass-form .inputbox
{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.cform .inputbox label, #pass-form .inputbox label{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.cform .inputbox label span, #pass-form .inputbox label span{
    color: #cf0c26;
    visibility: hidden;
    transition: .3s;
}
.cform textarea, #pass-form textarea{
    padding:10px 10px;
    outline: none;
    border-radius: 7px;
    border: 1px solid #0000006b;
    margin-bottom: 20px;
    transition: .3s;
}
.cform input, .cform select, #pass-form input, #pass-form select{
    height: 40px;
    padding:0px 10px;
    outline: none;
    border-radius: 7px;
    border: 1px solid #0000006b;
    margin-bottom: 20px;
    transition: .3s;
}
.cform input[type=file],
#pass-form input[type=file]
{
   height: 32px;
}
::placeholder{
    color: #6c757d;
}
.cform input:focus,
.cform textarea:focus,
#pass-form input:focus,
#pass-form textarea:focus
{
    border: 1px solid #6316df;
}
.cform input[type=submit], #pass-form input[type=submit]
{
    border: none;
    background-color: #6316df;
    color: #fff;
    transition: .3s;
    width: 90%;
    margin-top: 20px;
}
.cform input[type=submit]:hover,
#pass-form input[type=submit]:hover
{
    background-color: #7e49d3;
}
.cform input[type=number]::-webkit-inner-spin-button,
.cform input[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
}
.cform a{
    text-decoration: none;
}
.modal-lg{
    max-width:700px ;
}
@import 'appoinment_media';