@font-face {
    font-family: font;
    src: url(../fonts/Quicksand-SemiBold.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: font;

}
body{
    overflow-x: hidden;
}
.container-fluid{
    padding: 0px 30px!important;
    padding-right: 50px!important;
}
.navbar-nav{
   width: 100%!important;
   display: flex;
   justify-content: flex-end;
}
.nav-pic{
    height: 25px;
    width: 25px;
}
.dropbtn {
    background-color: transparent;
    color: #0000008c;
    /* padding: 16px; */
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
    &:hover, .nav-link:hover, .active{
        color: #6316df!important;
      }
  }
  .nav-link:hover, .active{
    color: #6316df!important;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -80px;
    margin-top: 18px;
    a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        &:hover {background-color: #ddd;}
      }
  }
  .show {display:block;}